
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
}


@theme {
  --color-newGray: #495057;
  --color-secondGray: #adb5bd;
  --color-ice: #fcfffd;
  --color-newIce: #f6fff8;
  --font--sansation: 'Sansation', sans-serif;


}

